body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

#container {
  text-align: center;
}

#app{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-weight: 950;
  font-size: 5rem;
}

input {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
}

#result {
  margin-top: 0.75rem;

}
